In [186]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import pairwise_distances

In [187]:
df_ratings = pd.read_csv('./inputs/rating_final.csv')
df_ratings.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [188]:
df_geoplaces = pd.read_csv('./inputs/geoplaces2.csv')
df_geoplaces.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

In [189]:
df_ratings['overall_rating'] = (df_ratings['rating'] + df_ratings['food_rating'] + df_ratings['service_rating'])/3
df_ratings.head()

  userID  placeID  rating  food_rating  service_rating  overall_rating
0  U1077   135085       2            2               2        2.000000
1  U1077   135038       2            2               1        1.666667
2  U1077   132825       2            2               2        2.000000
3  U1077   135060       1            2               2        1.666667
4  U1068   135104       1            1               2        1.333333

In [190]:
df = pd.merge(df_ratings, df_geoplaces, on='placeID')
df

,userID,placeID,rating,food_rating,service_rating,overall_rating,latitude,longitude,the_geom_meter,name,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,U1077,135085,2,2,2,2.000000,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
1,U1108,135085,1,2,1,1.333333,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
2,U1081,135085,1,2,1,1.333333,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
3,U1056,135085,2,2,2,2.000000,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
4,U1134,135085,2,1,2,1.666667,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,U1061,132958,2,2,2,2.000000,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1157,U1025,132958,1,0,0,0.333333,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1158,U1097,132958,2,1,1,1.333333,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1159,U1096,132958,1,2,2,1.666667,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1160,U1136,132958,2,2,2,2.000000,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none

In [191]:
user_ids = df['userID'].tolist()
user_ids = list(map(lambda id : int(id[1:])-1001, user_ids))
user_ids

[76,
 107,
 80,
 55,
 133,
 115,
 131,
 119,
 35,
 83,
 112,
 103,
 105,
 44,
 15,
 6,
 12,
 0,
 134,
 31,
 61,
 91,
 108,
 121,
 97,
 32,
 88,
 26,
 28,
 85,
 136,
 45,
 89,
 58,
 48,
 1,
 76,
 52,
 125,
 124,
 75,
 21,
 115,
 23,
 131,
 119,
 18,
 112,
 8,
 6,
 98,
 53,
 100,
 31,
 61,
 108,
 121,
 97,
 32,
 88,
 76,
 54,
 52,
 80,
 0,
 55,
 133,
 115,
 23,
 131,
 35,
 70,
 48,
 103,
 44,
 8,
 134,
 61,
 108,
 84,
 97,
 2,
 90,
 28,
 136,
 113,
 60,
 56,
 24,
 58,
 5,
 1,
 76,
 52,
 63,
 124,
 21,
 115,
 23,
 3,
 70,
 44,
 8,
 15,
 98,
 53,
 31,
 134,
 77,
 97,
 85,
 127,
 72,
 12,
 67,
 66,
 102,
 122,
 62,
 27,
 86,
 67,
 59,
 122,
 20,
 22,
 49,
 27,
 86,
 67,
 102,
 30,
 81,
 27,
 86,
 67,
 66,
 102,
 81,
 27,
 49,
 86,
 42,
 67,
 66,
 102,
 81,
 27,
 42,
 66,
 102,
 106,
 122,
 62,
 49,
 66,
 102,
 106,
 59,
 122,
 22,
 79,
 81,
 27,
 67,
 66,
 81,
 49,
 86,
 102,
 69,
 81,
 122,
 27,
 42,
 102,
 122,
 62,
 86,
 106,
 79,
 62,
 86,
 67,
 43,
 29,
 71,
 116,
 19,
 50,
 43,
 117,
 34,
 118,
 69,
 81,
 122,
 79,
 49,
 42,
 69,
 81,
 62,
 49,
 42,
 30,
 25,
 64,
 128,
 38,
 30,
 20,
 79,
 22,
 20,
 79,
 10,
 22,
 59,
 10,
 81,
 122,
 49,
 86,
 67,
 59,
 79,
 38,
 10,
 14,
 87,
 123,
 93,
 114,
 110,
 36,
 91,
 24,
 25,
 64,
 38,
 129,
 43,
 126,
 117,
 73,
 82,
 94,
 47,
 60,
 96,
 82,
 107,
 83,
 33,
 94,
 47,
 91,
 2,
 136,
 113,
 60,
 95,
 82,
 107,
 133,
 112,
 91,
 97,
 32,
 60,
 111,
 56,
 135,
 107,
 54,
 133,
 32,
 2,
 90,
 136,
 60,
 12,
 58,
 56,
 5,
 95,
 107,
 54,
 82,
 133,
 6,
 91,
 32,
 90,
 89,
 12,
 60,
 45,
 111,
 5,
 72,
 107,
 82,
 133,
 135,
 107,
 54,
 80,
 105,
 23,
 131,
 3,
 70,
 134,
 108,
 32,
 88,
 58,
 24,
 135,
 107,
 52,
 80,
 87,
 105,
 123,
 124,
 17,
 21,
 74,
 23,
 131,
 4,
 119,
 3,
 70,
 112,
 103,
 44,
 15,
 6,
 53,
 100,
 31,
 134,
 108,
 97,
 48,
 107,
 33,
 94,
 6,
 90,
 18,
 60,
 111,
 95,
 96,
 107,
 83,
 8,
 94,
 6,
 31,
 134,
 108,
 121,
 88,
 136,
 113,
 60,
 45,
 96,
 127,
 57,
 9,
 11,
 92,
 99,
 132,
 117,
 118,
 40,
 11,
 16,
 132,
 117,
 40,
 11,
 92,
 29,
 126,
 99,
 19,
 34,
 41,
 50,
 92,
 29,
 65,
 132,
 39,
 120,
 92,
 99,
 73,
 78,
 92,
 65,
 39,
 109,
 120,
 29,
 11,
 116,
 34,
 92,
 65,
 39,
 109,
 29,
 11,
 132,
 43,
 118,
 34,
 78,
 41,
 92,
 29,
 65,
 132,
 109,
 120,
 29,
 71,
 116,
 92,
 65,
 73,
 29,
 19,
 50,
 40,
 126,
 16,
 132,
 126,
 99,
 132,
 117,
 118,
 120,
 109,
 41,
 40,
 16,
 99,
 117,
 19,
 50,
 43,
 118,
 78,
 41,
 40,
 99,
 116,
 71,
 34,
 132,
 116,
 78,
 132,
 117,
 41,
 40,
 71,
 116,
 34,
 39,
 25,
 128,
 64,
 129,
 25,
 128,
 64,
 129,
 25,
 128,
 64,
 129,
 54,
 87,
 55,
 21,
 74,
 23,
 131,
 44,
 15,
 53,
 100,
 0,
 89,
 48,
 54,
 52,
 17,
 21,
 115,
 131,
 35,
 70,
 103,
 6,
 53,
 0,
 91,
 89,
 95,
 82,
 33,
 47,
 136,
 96,
 54,
 125,
 23,
 3,
 105,
 15,
 100,
 134,
 77,
 1,
 82,
 83,
 94,
 12,
 88,
 113,
 95,
 135,
 82,
 47,
 2,
 136,
 113,
 82,
 133,
 45,
 58,
 54,
 47,
 60,
 111,
 5,
 135,
 54,
 52,
 133,
 115,
 105,
 103,
 28,
 111,
 24,
 9,
 54,
 52,
 133,
 35,
 105,
 8,
 121,
 88,
 28,
 113,
 2,
 60,
 58,
 52,
 80,
 13,
 55,
 124,
 74,
 4,
 18,
 98,
 12,
 84,
 57,
 9,
 52,
 124,
 21,
 70,
 8,
 134,
 108,
 85,
 52,
 63,
 13,
 124,
 75,
 23,
 4,
 35,
 70,
 105,
 15,
 98,
 31,
 134,
 84,
 108,
 26,
 136,
 48,
 9,
 52,
 113,
 61,
 121,
 127,
 57,
 96,
 9,
 52,
 13,
 87,
 55,
 123,
 124,
 17,
 21,
 74,
 84,
 77,
 52,
 55,
 124,
 17,
 21,
 74,
 131,
 3,
 103,
 105,
 15,
 53,
 61,
 26,
 18,
 136,
 89,
 111,
 72,
 1,
 57,
 80,
 63,
 13,
 87,
 125,
 123,
 17,
 93,
 104,
 114,
 68,
 7,
 63,
 87,
 13,
 125,
 123,
 17,
 21,
 93,
 104,
 6,
 74,
 114,
 4,
 119,
 112,
 80,
 13,
 17,
 124,
 4,
 98,
 84,
 56,
 57,
 80,
 123,
 75,
 104,
 74,
 23,
 70,
 103,
 105,
 53,
 100,
 0,
 63,
 80,
 55,
 125,
 21,
 115,
 104,
 131,
 35,
 70,
 105,
 103,
 44,
 8,
 15,
 53,
 100,
 134,
 61,
 77,
 26,
 89,
 72,
 48,
 1,
 80,
 115,
 23,
 70,
 83,
 103,
 105,
 121,
 32,
 56,
 58,
 5,
 80,
 55,
 75,
 115,
 23,
 131,
 76,
 100,
 0,
 87,
 13,
 125,
 93,
 104,
 74,
 114,
 4,
 36,
 18,
 24,
 87,
 125,
 123,
 17,
 93,
 6,
 114,
 36,
 68,
 7,
 110,
 13,
 55,
 123,
 124,
 74,
 4,
 84,
 57,
 13,
 87,
 123,
 93,
 114,
 36,
 68,
 56,
 87,
 105,
 125,
 74,
 23,
 4,
 48,
 103,
 44,
 53,
 100,
 134,
 77,
 2,
 85,
 60,
 1,
 87,
 13,
 17,
 93,
 114,
 36,
 68,
 110,
 130,
 87,
 125,
 123,
 93,
 104,
 114,
 36,
 7,
 14,
 130,
 13,
 55,
 124,
 17,
 74,
 4,
 105,
 15,
 98,
 121,
 26,
 57,
 133,
 119,
 83,
 47,
 45,
 88,
 60,
 111,
 96,
 5,
 95,
 133,
 115,
 35,
 8,
 84,
 28,
 136,
 1,
 2,
 133,
 35,
 47,
 121,
 32,
 113,
 45,
 72,
 9,
 133,
 35,
 112,
 105,
 8,
 12,
 31,
 18,
 121,
 97,
 88,
 2,
 111,
 96,
 127,
 5,
 9,
 133,
 94,
 84,
 33,
 95,
 135,
 57,
 133,
 2,
 90,
 60,
 56,
 72,
 133,
 35,
 105,
 44,
 94,
 121,
 88,
 2,
 58,
 111,
 56,
 24,
 127,
 72,
 95,
 135,
 9,
 125,
 21,
 104,
 0,
 75,
 21,
 23,
 100,
 21,
 104,
 103,
 0,
 21,
 23,
 119,
 35,
 83,
 15,
 98,
 53,
 0,
 134,
 61,
 32,
 85,
 115,
 74,
 23,
 35,
 70,
 103,
 105,
 44,
 8,
 15,
 98,
 134,
 31,
 61,
 77,
 121,
 88,
 28,
 18,
 136,
 113,
 60,
 111,
 56,
 72,
 119,
 36,
 68,
 110,
 14,
 119,
 68,
 7,
 101,
 24,
 119,
 36,
 68,
 110,
 24,
 101,
 51,
 68,
 7,
 110,
 36,
 14,
 130,
 37,
 112,
 7,
 110,
 36,
 101,
 ...]

In [192]:
df['userID'] = pd.DataFrame(user_ids) 
df

,userID,placeID,rating,food_rating,service_rating,overall_rating,latitude,longitude,the_geom_meter,name,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,76,135085,2,2,2,2.000000,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
1,107,135085,1,2,1,1.333333,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
2,80,135085,1,2,1,1.333333,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
3,55,135085,2,2,2,2.000000,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
4,133,135085,2,1,2,1.666667,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,60,132958,2,2,2,2.000000,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1157,24,132958,1,0,0,0.333333,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1158,96,132958,2,1,1,1.333333,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1159,95,132958,1,2,2,1.666667,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1160,135,132958,2,2,2,2.000000,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none

In [193]:
place_ids = df['placeID'].tolist()
place_ids.sort()
place_ids = list(map(lambda id : (id-132560), place_ids))

new_place_ids = []
i = -1
seen = []

for place_id in place_ids:
    if place_id not in seen:
        seen.append(place_id)
        i = i+1
    new_place_ids.append(i)
    
new_place_ids

[0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 36,
 36,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 52,
 52,
 53,
 53,
 53,
 53,
 53,
 54,
 54,
 54,
 54,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 57,
 57,
 57,
 57,
 57,
 58,
 58,
 58,
 58,
 58,
 58,
 59,
 59,
 59,
 60,
 60,
 60,
 60,
 61,
 61,
 61,
 61,
 61,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 63,
 63,
 63,
 63,
 64,
 64,
 64,
 64,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 66,
 66,
 66,
 66,
 66,
 67,
 67,
 67,
 67,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 69,
 69,
 69,
 70,
 70,
 70,
 70,
 71,
 71,
 71,
 72,
 72,
 72,
 72,
 73,
 73,
 73,
 73,
 73,
 73,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 81,
 81,
 81,
 81,
 82,
 82,
 82,
 82,
 82,
 83,
 83,
 83,
 83,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 86,
 86,
 86,
 86,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 90,
 90,
 90,
 90,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 94,
 94,
 94,
 94,
 94,
 94,
 95,
 95,
 95,
 95,
 95,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 101,
 101,
 101,
 101,
 101,
 101,
 101,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 102,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 104,
 104,
 104,
 104,
 104,
 104,
 104,
 104,
 104,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 107,
 107,
 107,
 107,
 107,
 107,
 107,
 107,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 108,
 109,
 109,
 109,
 109,
 109,
 109,
 109,
 109,
 109,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 111,
 111,
 111,
 111,
 111,
 111,
 111,
 111,
 111,
 111,
 111,
 111,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 113,
 113,
 113,
 113,
 113,
 113,
 113,
 113,
 113,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 ...]

In [194]:
df['placeID'] = pd.DataFrame(new_place_ids) 
df

,userID,placeID,rating,food_rating,service_rating,overall_rating,latitude,longitude,the_geom_meter,name,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,76,0,2,2,2,2.000000,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
1,107,0,1,2,1,1.333333,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
2,80,0,1,2,1,1.333333,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
3,55,0,2,2,2,2.000000,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
4,133,1,2,1,2,1.666667,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,60,128,2,2,2,2.000000,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1157,24,129,1,0,0,0.333333,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1158,96,129,2,1,1,1.333333,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1159,95,129,1,2,2,1.666667,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1160,135,129,2,2,2,2.000000,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none

In [195]:
df = df[['userID', 'placeID', 'overall_rating', 'name']]
df

      userID  placeID  overall_rating                    name
0         76        0        2.000000  Tortas Locas Hipocampo
1        107        0        1.333333  Tortas Locas Hipocampo
2         80        0        1.333333  Tortas Locas Hipocampo
3         55        0        2.000000  Tortas Locas Hipocampo
4        133        1        1.666667  Tortas Locas Hipocampo
...      ...      ...             ...                     ...
1156      60      128        2.000000      tacos los volcanes
1157      24      129        0.333333      tacos los volcanes
1158      96      129        1.333333      tacos los volcanes
1159      95      129        1.666667      tacos los volcanes
1160     135      129        2.000000      tacos los volcanes

[1161 rows x 4 columns]

In [196]:
n_users = df.userID.nunique()
n_items = df.placeID.nunique()

print('Num. of Users: '+ str(n_users))
print('Num of Restaurants: '+str(n_items))

Num. of Users: 138
Num of Restaurants: 130

In [197]:
train_data, test_data = train_test_split(df, test_size=0.25)

In [198]:
#Create two user-item matrices, one for training and another for testing
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1], line[2]] = line[3]  

test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1], line[2]] = line[3]
    
print(train_data_matrix)
print(test_data_matrix)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 2.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 1.66666667 0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [199]:
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [200]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #You use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis]) 
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])     
    return pred

In [201]:
item_prediction = predict(train_data_matrix, item_similarity, type='item')
user_prediction = predict(train_data_matrix, user_similarity, type='user')

In [202]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [203]:
print('User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix)))

User-based CF RMSE: 1.4361798638807683
Item-based CF RMSE: 1.4488930694391904