In [410]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [411]:
df_cuisine = pd.read_csv('./inputs/chefmozcuisine.csv')
df_cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [412]:
df_parking = pd.read_csv('./inputs/chefmozparking.csv')
df_parking.head()

   placeID parking_lot
0   135111      public
1   135110        none
2   135109        none
3   135108        none
4   135107        none

In [413]:
df_geoplaces = pd.read_csv('./inputs/geoplaces2.csv')
df_geoplaces.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

In [414]:
df_ratings = pd.read_csv('./inputs/rating_final.csv')
df_ratings.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [415]:
df = pd.merge(df_cuisine, df_geoplaces, on='placeID')
df = pd.merge(df, df_parking, on='placeID')
df.head()

,placeID,Rcuisine,latitude,longitude,the_geom_meter,name,address,city,state,country,...,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services,parking_lot
0,135109,Italian,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,...,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet,none
1,135106,Mexican,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,...,only at bar,informal,partially,medium,?,familiar,f,open,none,none
2,135104,Mexican,23.752982,-99.168434,0101000020957F00007CDF5EAFC58157C1645743B23E4F...,vips,?,?,?,?,...,not permitted,informal,completely,medium,?,familiar,t,closed,variety,yes
3,135088,Cafeteria,18.876011,-99.219890,0101000020957F0000E14AD4DBC7765AC1F7B33C85B153...,Cafeteria cenidet,Interior Internado Palmira SN,Cuernavaca,Morelos,Mexico,...,not permitted,informal,no_accessibility,low,www.cenidet.edu.mx,quiet,f,closed,none,public
4,135086,Burgers,22.141421,-101.013955,0101000020957F0000FA1A0E5A9B4858C17C884C4173AE...,Mcdonalds Parque Tangamanga,Lateral Salvador Nava Martinez 3145,San Luis Potosi,SLP,Mexico,...,not permitted,informal,no_accessibility,medium,?,familiar,t,closed,none,yes

In [416]:
df['combined_features'] = df['Rcuisine']+' '+df['parking_lot']+' '+df['latitude'].map(str)+' '+df['longitude'].map(str)
df.head()

,placeID,Rcuisine,latitude,longitude,the_geom_meter,name,address,city,state,country,...,dress_code,accessibility,price,url,Rambience,franchise,area,other_services,parking_lot,combined_features
0,135109,Italian,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,...,informal,no_accessibility,medium,?,quiet,f,closed,Internet,none,Italian none 18.9217848 -99.2353499
1,135106,Mexican,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,...,informal,partially,medium,?,familiar,f,open,none,none,Mexican none 22.149708800000003 -100.976092799...
2,135104,Mexican,23.752982,-99.168434,0101000020957F00007CDF5EAFC58157C1645743B23E4F...,vips,?,?,?,?,...,informal,completely,medium,?,familiar,t,closed,variety,yes,Mexican yes 23.752982100000004 -99.16843409999998
3,135088,Cafeteria,18.876011,-99.219890,0101000020957F0000E14AD4DBC7765AC1F7B33C85B153...,Cafeteria cenidet,Interior Internado Palmira SN,Cuernavaca,Morelos,Mexico,...,informal,no_accessibility,low,www.cenidet.edu.mx,quiet,f,closed,none,public,Cafeteria public 18.876011300000002 -99.2198896
4,135086,Burgers,22.141421,-101.013955,0101000020957F0000FA1A0E5A9B4858C17C884C4173AE...,Mcdonalds Parque Tangamanga,Lateral Salvador Nava Martinez 3145,San Luis Potosi,SLP,Mexico,...,informal,no_accessibility,medium,?,familiar,t,closed,none,yes,Burgers yes 22.141420999999998 -101.0139550000...

In [417]:
ratings = pd.DataFrame(df_ratings.groupby('placeID')['rating'].count()).reset_index()

In [418]:
df = pd.merge(df, ratings, on='placeID')
df.head()

,placeID,Rcuisine,latitude,longitude,the_geom_meter,name,address,city,state,country,...,accessibility,price,url,Rambience,franchise,area,other_services,parking_lot,combined_features,rating
0,135109,Italian,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,...,no_accessibility,medium,?,quiet,f,closed,Internet,none,Italian none 18.9217848 -99.2353499,4
1,135106,Mexican,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,...,partially,medium,?,familiar,f,open,none,none,Mexican none 22.149708800000003 -100.976092799...,10
2,135104,Mexican,23.752982,-99.168434,0101000020957F00007CDF5EAFC58157C1645743B23E4F...,vips,?,?,?,?,...,completely,medium,?,familiar,t,closed,variety,yes,Mexican yes 23.752982100000004 -99.16843409999998,7
3,135088,Cafeteria,18.876011,-99.219890,0101000020957F0000E14AD4DBC7765AC1F7B33C85B153...,Cafeteria cenidet,Interior Internado Palmira SN,Cuernavaca,Morelos,Mexico,...,no_accessibility,low,www.cenidet.edu.mx,quiet,f,closed,none,public,Cafeteria public 18.876011300000002 -99.2198896,6
4,135086,Burgers,22.141421,-101.013955,0101000020957F0000FA1A0E5A9B4858C17C884C4173AE...,Mcdonalds Parque Tangamanga,Lateral Salvador Nava Martinez 3145,San Luis Potosi,SLP,Mexico,...,no_accessibility,medium,?,familiar,t,closed,none,yes,Burgers yes 22.141420999999998 -101.0139550000...,10

In [419]:
df_combined_features = df[['placeID', 'name', 'combined_features', 'rating']]
df_combined_features.head()

,placeID,name,combined_features,rating
0,135109,Paniroles,Italian none 18.9217848 -99.2353499,4
1,135106,El Rinc�n de San Francisco,Mexican none 22.149708800000003 -100.976092799...,10
2,135104,vips,Mexican yes 23.752982100000004 -99.16843409999998,7
3,135088,Cafeteria cenidet,Cafeteria public 18.876011300000002 -99.2198896,6
4,135086,Mcdonalds Parque Tangamanga,Burgers yes 22.141420999999998 -101.0139550000...,10

In [420]:
cv = CountVectorizer()

count_matrix = cv.fit_transform(df_combined_features['combined_features'])
print(count_matrix)

  (0, 212)	1
  (0, 216)	1
  (0, 98)	1
  (0, 144)	1
  (0, 185)	1
  (0, 111)	1
  (1, 216)	1
  (1, 215)	1
  (1, 103)	1
  (1, 57)	1
  (1, 14)	1
  (1, 167)	1
  (2, 185)	1
  (2, 215)	1
  (2, 224)	1
  (2, 107)	1
  (2, 129)	1
  (2, 93)	1
  (3, 98)	1
  (3, 185)	1
  (3, 204)	1
  (3, 219)	1
  (3, 136)	1
  (3, 102)	1
  (4, 103)	1
  :	:
  (107, 88)	1
  (108, 185)	1
  (108, 215)	1
  (108, 224)	1
  (108, 107)	1
  (108, 123)	1
  (108, 86)	1
  (109, 216)	1
  (109, 98)	1
  (109, 185)	1
  (109, 195)	1
  (109, 145)	1
  (109, 110)	1
  (110, 103)	1
  (110, 14)	1
  (110, 224)	1
  (110, 204)	1
  (110, 33)	1
  (110, 188)	1
  (111, 185)	1
  (111, 107)	1
  (111, 219)	1
  (111, 220)	1
  (111, 122)	1
  (111, 91)	1

In [421]:
cosine_sim = cosine_similarity(count_matrix) 
cosine_sim

array([[1.        , 0.16666667, 0.16666667, ..., 0.5       , 0.        ,
        0.16666667],
       [0.16666667, 1.        , 0.16666667, ..., 0.16666667, 0.33333333,
        0.        ],
       [0.16666667, 0.16666667, 1.        , ..., 0.16666667, 0.16666667,
        0.33333333],
       ...,
       [0.5       , 0.16666667, 0.16666667, ..., 1.        , 0.        ,
        0.16666667],
       [0.        , 0.33333333, 0.16666667, ..., 0.        , 1.        ,
        0.        ],
       [0.16666667, 0.        , 0.33333333, ..., 0.16666667, 0.        ,
        1.        ]])

In [422]:
oriental = 'Restaurant Oriental Express'
posada = 'La Posada del Virrey'

similar_rests_oriental = list(enumerate(cosine_sim[df[df.name == oriental].index[0]]))
df_similar_oriental = pd.DataFrame(similar_rests_oriental)
df_similar_oriental.columns = ['restaurant_index', 'cosine_similarity']
df_similar_oriental.head()

   restaurant_index  cosine_similarity
0                 0           0.166667
1                 1           0.500000
2                 2           0.000000
3                 3           0.000000
4                 4           0.166667

In [423]:
df_similar_oriental = pd.DataFrame.join(df_similar_oriental, df_combined_features)
df_similar_oriental
df_similar_oriental[df_similar_oriental['rating']>15].sort_values('cosine_similarity',ascending=False).head(10)

,restaurant_index,cosine_similarity,placeID,name,combined_features,rating
33,33,1.000000,135042,Restaurant Oriental Express,Chinese none 22.159357 -100.973411,20
7,7,0.666667,135079,Koye Sushi,Chinese none 22.156376 -100.998355,17
16,16,0.500000,135060,Restaurante Marisco Sam,Seafood none 22.156882999999997 -100.978484999...,22
25,25,0.500000,135052,La Cantina Restaurante,Bar none 22.150980999999998 -100.977412,25
26,26,0.500000,135052,La Cantina Restaurante,Bar_Pub_Brewery none 22.150980999999998 -100.9...,25
34,34,0.500000,135041,Luna Cafe,Bar none 22.15106 -100.977659,17
35,35,0.500000,135041,Luna Cafe,Cafeteria none 22.15106 -100.977659,17
65,65,0.500000,132921,crudalia,Bar none 22.150305 -100.98913370000001,17
83,83,0.500000,132825,puesto de tacos,Mexican none 22.1473922 -100.983092,32
6,6,0.333333,135085,Tortas Locas Hipocampo,Fast_Food public 22.150802 -100.98268,36

In [424]:
similar_rests_posada = list(enumerate(cosine_sim[df[df.name == posada].index[0]]))
df_similar_posada = pd.DataFrame(similar_rests_posada)
df_similar_posada.columns = ['restaurant_index', 'cosine_similarity']
df_similar_posada.head()

   restaurant_index  cosine_similarity
0                 0           0.000000
1                 1           0.308607
2                 2           0.000000
3                 3           0.000000
4                 4           0.154303

In [425]:
df_similar_posada = pd.DataFrame.join(df_similar_posada, df_combined_features)
df_similar_posada
df_similar_posada[df_similar_posada['rating']>15].sort_values('cosine_similarity',ascending=False).head(10)

,restaurant_index,cosine_similarity,placeID,name,combined_features,rating
73,73,1.000000,132862,La Posada del Virrey,International valet parking 22.150642899999998...,18
6,6,0.308607,135085,Tortas Locas Hipocampo,Fast_Food public 22.150802 -100.98268,36
7,7,0.308607,135079,Koye Sushi,Chinese none 22.156376 -100.998355,17
16,16,0.308607,135060,Restaurante Marisco Sam,Seafood none 22.156882999999997 -100.978484999...,22
25,25,0.308607,135052,La Cantina Restaurante,Bar none 22.150980999999998 -100.977412,25
26,26,0.308607,135052,La Cantina Restaurante,Bar_Pub_Brewery none 22.150980999999998 -100.9...,25
33,33,0.308607,135042,Restaurant Oriental Express,Chinese none 22.159357 -100.973411,20
34,34,0.308607,135041,Luna Cafe,Bar none 22.15106 -100.977659,17
35,35,0.308607,135041,Luna Cafe,Cafeteria none 22.15106 -100.977659,17
39,39,0.308607,135032,Cafeteria y Restaurant El Pacifico,Cafeteria public 22.152480999999998 -100.973486,28